<div class="col col-lg-12 ">
    <div class="row">
        <div class="col col-lg-12">
            {% if is_paginated %}
                {% include 'partial/pagination.html' %}
            {% endif %}
        </div>
    </div>
</div>
    <div class="col col-lg-12">
    {% if  request.user in users %}
        {% for review in reviews %}
        <hr>
        <div class="row">
            <div class="col col-lg-8">
                <h3><a href="{% url 'accounts:detail' review.author.pk %}">№{{ review.pk }}. Author: {{ review.author.first_name }}</a> | Оценка: {{ review.mark }} </h3>
                <p>Email: {{ review.author.email }}</p>
                <div class="box">
                    Отзыв:
                    <hr>
                    <p>{{ review.review_text }}</p>
                </div>
            </div>
                {% if  request.user in users %}
            <div class="coL col-lg-1 mt-5">
                <a href="{% url 'review_change' review.pk %}" ><button type="submit"  class="btn btn-success">Update</button></a>
            </div>
            {% endif %}
                {% if  request.user in users %}
                <div class="coL col-lg-1 mt-5">
                    <a href="{% url 'review_delete' review.pk %}" ><button type="submit"  class="btn btn-danger">Delete</button></a>
                </div>
            {% endif %}
            </div>
        {% endfor %}
    {% endif %}