{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}View product{% endblock %}
{% block menu %}
{#    {% if perms.webapp.add_issuetracker and request.user in users%}#}
        <a class="text-white text-center px-3" href="{% url 'review_create' product.pk %}">Добавить отзыв</a>
{#    {% endif %}#}
{% endblock %}

{% block contant %}
    {% if user.is_authenticated %}
<div class="row">
    <div class="col col-lg-12 text-center">
        <h1 class="pt-5 mt-5"><b>Product: №{{ product.pk }}.
{#            {% if perms.webapp.change_project and request.user in users %}#}
            <a href="{% url 'product_update' product.pk %}" ><button type="button"  class="btn btn-success">Update</button></a>
{#            {% endif %}#}
{#            {% if perms.webapp.delete_project and request.user in users %}#}
            <a href="{% url 'product_delete' product.pk %}" ><button type="button"  class="btn btn-danger">Delete. </button></a>
{#            {% endif %}#}
        </b></h1>
        <h3> Наименование: <b class="text-primary"> {{ product.name }}</b></h3>
        <div class="box">
            <p >Описание: </p>
            <hr>
            {% if not product.image %}
            <img src="{% static "img/product.jpg" %}" alt="Продукт">
            {% else %}
             {{ product.image }}
            {% endif %}
            {{ product.description | linebreaks }}
        </div>
        <hr>
        <div class="col col-lg-12 box ">
            <h3>Отзывы:</h3>
            <div class="row">
                <div class="col col-lg-12">
                    {% if is_paginated %}
                        {% include 'partial/pagination.html' %}
                    {% endif %}
                </div>
            </div>
            <div class="col col-lg-12">
            {#{% if  request.user in users %}#}
                {% for review in review %}
                <hr>
            <div class="row">
                <div class="col col-lg-12">
            {#            <h3><a href="{% url 'task_view' task.pk %}">№{{ task.pk }}. Status: <b>{{ task.status.get_status_display }}</b></a> </h3>#}
                    <h3>№{{ review.pk }}</h3>
                    <p>Автор: {{ review.author }} | Оценка: {{ review.mark }}</p>
                    <div class="col col-lg-12">
                        {{ review.review_text }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <hr>
        <div class="col col-lg-12">
            {% if is_paginated %}
                {% include 'partial/pagination.html' %}
            {% endif %}
        </div>
    </div>
    <hr>
    {% endif %}
</div>
{% endblock %}

