{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}View product{% endblock %}
{% block menu %}
{#    {% if perms.webapp.add_issuetracker and request.user in users%}#}
        <a class="text-white text-center px-3" href="{% url 'review_create' product.pk %}">Добавить отзыв</a>
{#    {% endif %}#}
{% endblock %}

{% block contant %}
    {% if user.is_authenticated %}
<div class="row">
    <div class="col col-lg-12 text-center">
        <h1 class="pt-5 mt-5"><b>Product: №{{ product.pk }}.
{#            {% if perms.webapp.change_project and request.user in users %}#}
            <a href="{% url 'product_update' product.pk %}" ><button type="button"  class="btn btn-success">Update</button></a>
{#            {% endif %}#}
{#            {% if perms.webapp.delete_project and request.user in users %}#}
            <a href="{% url 'product_delete' product.pk %}" ><button type="button"  class="btn btn-danger">Delete. </button></a>
{#            {% endif %}#}
        </b></h1>
        <h3> Наименование: <b class="text-primary"> {{ product.name }}. Средняя оценка: {{ avg_mark }}</b></h3>
        <div class="box">
            <p >Описание: </p>
            <hr>
            {% if not product.image %}
            <img src="{% static "img/product.jpg" %}" alt="Продукт">
            {% else %}
             {{ product.image }}
            {% endif %}
            {{ product.description | linebreaks }}
        </div>
<div class="col col-lg-12 ">
    <h3>Отзывы:</h3>
    <div class="row">
        <div class="col col-lg-12">
            {% if is_paginated %}
                {% include 'partial/pagination.html' %}
            {% endif %}
        </div>
    </div>
</div>
    <div class="col col-lg-12">
    {#{% if  request.user in users %}#}
        {% for review in reviews %}
        <hr>
        <div class="row">
            <div class="col col-lg-8">
                <h3>№{{ review.pk }}. Author: {{ review.author.first_name }} | Оценка: {{ review.mark }} </h3>
                <p>Email: {{ review.author.email }}</p>
                <div class="box">
                    Отзыв:
                    <hr>
                    <p>{{ review.review_text }}</p>
                </div>

            </div>
        {#        {% if perms.webapp.change_issuetracker and request.user in users %}#}
            <div class="coL col-lg-1 mt-5">
                <a href="{% url 'review_change' review.pk %}" ><button type="submit"  class="btn btn-success">Update</button></a>
            </div>
{#            {% endif %}#}
        {#        {% if perms.webapp.delete_issuetracker and request.user in users %}#}
                <div class="coL col-lg-1 mt-5">
                    <a href="{% url 'review_delete' review.pk %}" ><button type="submit"  class="btn btn-danger">Delete</button></a>
                </div>
        {#        {% endif %}#}
        {#        <div class="coL col-lg-1 mt-5">#}
        {#            <a href="{% url 'task_view' task.pk %}" ><button type="submit"  class="btn btn-warning"> View </button></a>#}
        {#        </div>#}
            </div>
        {% endfor %}
        {#        {% endif %}#}
        <hr>
        <div class="col col-lg-12">
            {% if is_paginated %}
                {% include 'partial/pagination.html' %}
            {% endif %}
        </div>
    </div>
        <hr>
            {% endif %}
{% endblock %}

