{% extends "base.html" %}

{% block title %}Delete Review{% endblock %}

{% block contant %}
    <div class="coL col-lg-12 mt-5">
        <h1 class="pt-4">Вы действительно хотите удалить отзыв: # <b class="text-primary">{{ review.pk }}</b> ?</h1>
            <h3>Отзыв:</h3>
        <p>{{ review.review_text }}</p>
        <p>Автор: {{ review.author }} | Оценка:{{ review.mark }}</p>
    </div>
    <div class="row">
    {% if user.is_authenticated %}
        <form method="POST" action="{% url "review_delete" review.pk %}" class="text-center">
            {% csrf_token %}
        <div class="coL col-lg-3 ml-5 mt-1">
            <a href="{% url 'review_delete' review.pk %}" >
                <button type="submit"  class="btn btn-danger">Delete</button>
            </a>
        </div>
        </form>
        {% endif %}
        <div class="coL col-lg-3  mt-1">
            <a href="{% url 'product_view' review.product.pk  %}" >
                <button type="submit"  class="btn btn-primary">Отмена</button>
            </a>
        </div>
    </div>
{% endblock %}